* {
margin: 0; padding:; outline:0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}


.row {
	max-width: 1000px;
	position: relative;
	clear: both;
	overflow: hidden;
	margin: 0 auto;
}

body {
	font-family: Helvetica, sans-serif;
	background: white;
	margin: 0;	}
	
a {
	text-decoration: none;
	color: black;}

#header {
	height: 100px;
	}

.menu {
	list-style: none;
	margin: 0;}

.menu a {
	text-decoration: none;
	color: black;
	display:block;
	padding: 5px 0;}
	
#header .menu {
	position: absolute;
	top: 50px; right: 5%;
	}

#header .menu li {
	float: left;
	margin-left: 30px;
	text-transform: uppercase;
	font-size: 12px;
}

#header .logo {
	position: absolute;
	top: 50px; left: 5%; }

#header .logo a {
	display: block;
	width: 370px; height: 80px;
	text-indent: -999em;
	background: url(images/logo.png) no-repeat;
	}
	
#feature { 
	padding: 2px 0;
	}
	
#feature .big {
	background-color: #5DABFF;
	padding: 5px;
	margin: 5%;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);}
}

a h2{
	margin-left:auto;
	margin-right:auto;
	width:50%;
	}
	
#feature img {
	width: 100%;
	height: auto;
}

.soon a h2 {
	color: white;
}
	
.mary {
background-color: #FFAE29;
}

.foot {
background-color: #FB84FF;
}

.rent {
background-color: #F76A0C;
}

.wicked {
background-color: green;
}

.opera {
background-color: #8A0000;
}

.dream{
background-color: #779DE6;
}

.list a {
	text-decoration: none;
	color: black;
	display:block;
	padding: 5px 0;}
	
.menu {
	list-style: none;
	margin: 0;}

.soon > div {
	display: block;
	overflow: hidden;
	width: 30%;
	height: auto;
	float: left;
	margin-bottom: 1em;
	text-align: center;
	padding: 0.5em;
}

.soon > div + div {
	margin-left: 5%;
}

.soon img {
	width: 100%;
	height: auto;
}
	
.list {
	list-style: none;
	margin: 0;}
	
#footer {
	padding-top: 2px;
	background-color: black;
	}
	
#footer .list li {
	float: left;
	margin-left: 50%;
	text-transform: uppercase;
	font-size: 10px;
	list-style:none;
	display: inline;
	}

.list a {
	text-decoration: none;
	color: black;
	display:block;
	padding-top: 2px 0;
	padding-bottom; 2px 0;}

.big {
	text-align: center;
		
}	

.big a h2 {
	color: black;
}

#footer .list {
	display: block;
	float: right;
	
}


	



	


	
	
